.WebGLDemo {
  position: relative;
  padding: 0;
  width: 100vw;
  height: auto;
  max-height: 100vh;
  overflow: hidden;

  &__scene {
      position: relative;
      width: 100%;
      height: 100%;
  }
}
